* {
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    text-align: center;
}

.input-btn {
    padding: 10px;
    text-align: center;
}

.sub-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px;
    height: 83px;
}

.box {
    background-color: black;
    flex: 1;
}

.box:hover {
    background-color: gray;
}

.box.permahover {
    background-color: gray;
}